<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yeahka.dexShadow">

    <application
        android:appComponentFactory="com.yeahka.shell.ProxyComponentFactory"
        android:name="com.yeahka.shell.ProxyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dpt"
        tools:targetApi="p">

    </application>

</manifest>